* {
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;

}

.card {
  width: 100%;
  max-width: 900px;
  min-height: 500px;
  display: flex;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
  overflow: hidden;
  background: white;
}

.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  background: linear-gradient(to right, darkviolet, violet);
}

.right {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px;
  background: rgb(29, 82, 255);
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.error {
  color: red;
  margin-bottom: 10px;
}

/* MOBILE */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .left {
    height: 150px;
  }

  .right {
    padding: 20px;
  }
}

/* SMALL MOBILE */
@media (max-width: 480px) {
  .card {
    border-radius: 0;
  }
}