/* LogFilters.css */

.filters {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  padding: 10px 50px;
}

/* buttons */
.filters button {
  padding: 10px;
  border-radius: 20px;

  border: 1px solid #333;
  background-color: #1f1f1f;
  color: #ccc;

  font-size: 14px;
  cursor: pointer;

  transition: all 0.2s ease;
}

/* hover */
.filters button:hover {
  background-color: #2a2a2a;
  color: #fff;
}

/* active button */
.filters .active {
  background-color: rgb(14, 186, 14);
  color: white;
  border: none;
}

/* level-based coloring (optional 🔥) */
.filters button:nth-child(2) { /* INFO */
  border-color: #4dabf7;
}

.filters button:nth-child(3) { /* WARN */
  border-color: #f59f00;
}

.filters button:nth-child(4) { /* ERROR */
  border-color: #fa5252;
}